div{
    border: 2px solid red;
    padding: 20px;
    /* padding: 20px 5opx; 
    /* top and bottom 20px left and right 50px */
    /*padding-left: 30px;
    padding-right: 150px;
    padding-top:10px ;
    padding-bottom: 50px; */
    /* units : px , em , rem , %  */
    margin: 20px;
    /* margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 150px; */
    
}