<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <header>Site Name</header>

    <div class="Navbar">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact Us</a>
    </div>

    <div class="content-box">
        <div class="hero">
            <h1>Page Heading</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, corrupti. Cumque sunt officia voluptatem cupiditate natus quae possimus rem hic autem unde ducimus asperiores voluptates tenetur repellat excepturi dolores aperiam mollitia nobis voluptatum praesentium necessitatibus provident eligendi, adipisci dolorum? Iste quod ipsum illum nisi quaerat voluptate possimus at aliquam laboriosam.</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus magnam autem officia eius explicabo fugiat tenetur debitis excepturi molestiae, illum quia ducimus animi blanditiis, quo porro ea facilis atque? Soluta quod totam deleniti aperiam omnis, sapiente maxime sit expedita hic consequuntur, distinctio eligendi, error exercitationem quaerat assumenda recusandae? Magnam.</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, amet ipsam! Optio vel voluptatum suscipit nostrum eius, corrupti amet provident?</p>
        </div>

        <div class="sidehero">
            <h2>Side Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, amet ipsam! Optio vel voluptatum suscipit nostrum eius, corrupti amet provident? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem iste consequatur maiores non architecto impedit debitis odit, inventore eius quidem ratione sint itaque excepturi voluptatibus distinctio accusantium fugit quam est!</p>
            <footer class="side-footer">
                <p>&copy; copyright 2025</p>
            </footer>
        </div>
    </div>

    <div class="page-footer"></div>
</body>
</html>
