.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  max-width: 100%;
  width: 60%;
  max-height: 100%;
  height: 60%;
}
.box1,
.box2,
.box3,
.box4 {
  width: 50%;
  aspect-ratio: 1/1;
  background-color: red;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transition: all 1.8s ease;
  opacity: 1;
}
.box2,
.box3 {
  opacity: 0;
}

.container:hover .box1 {
  background-color: aqua;
  transform: translate(-200px, -200px) rotate(-750deg);
}
.container:hover .box2 {
  background-color: blue;
  transform: translate(200px, -200px) rotate(750deg);
  opacity: 1;
}
.container:hover .box3 {
  background-color: red;
  transform: translate(-200px, 200px) rotate(750deg);
  opacity: 1;
}
.container:hover .box4 {
  background-color: green;
  transform: translate(200px, 200px) rotate(-750deg);
}

@media (min-width: 781px) {
  .box1,
  .box2,
  .box3,
  .box4 {
    width: 25%;
  }
}
